.pattern-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1300px;
  margin: 0 auto;
  border-bottom: 3px dashed #000;
}
.pattern-button__images {
  position: relative;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: min-content;
  margin: 100px 0;
  padding: 0;
  border: 1px solid #000;
}
.pattern-button__tape {
  position: absolute;
  top: -1em;
  left: 26%;
  width: 100px;
  height: 30px;
  background-image: linear-gradient(
    -45deg,
    rgba(245, 124, 100, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(245, 124, 100, 0.4) 50%,
    rgba(245, 124, 100, 0.4) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 20px 20px;
  border-left: 2px dotted rgba(0, 0, 0, 0.1);
  border-right: 2px dotted rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(-4deg);
}

.pattern-button__img {
  width: 500px;
  height: 500px;
}

.pattern-button__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: fit-content;
  margin: 0;
}

.pattern-button__title {
  font-size: 40px;
  width: fit-content;
  margin: 0 0 30px;
  background: linear-gradient(transparent 50%, rgba(245, 124, 100, 0.4) 0%);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100%;
}

.pattern-button__subtitle {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  width: 600px;
}

.pattern-button__text {
  font-size: 18px;
  width: fit-content;
  text-align: start;
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 20px 0;
}

.pattern-button__btn {
  margin-top: 30px;
  padding: 1em 1.5em;
  cursor: pointer;
  width: 500px;
  height: 100px;
  font-family: "Pacifico", cursive;
  font-size: 40px;
  background-color: #c1f792;
  border: none;
  text-decoration: none;
  text-align: center;
  color: #000;
  overflow: hidden;

  position: relative;
  cursor: pointer;
  z-index: 0;
}

.pattern-button__btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 50px 50px 0;
  border-style: solid;
  border-color: floralwhite floralwhite #658e15 #658e15;
  background: #658e15;
  display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 900px) {
  .pattern-button {
    flex-direction: column;
    width: 780px;
    margin: 30px auto;
    border-bottom: 2px dashed #000;
  }
  .pattern-button__images {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: min-content;
    margin: 50px 0;
  }
  .pattern-button__tape {
    top: -1em;
    left: 26%;
    width: 80px;
    height: 25px;
    background-size: 18px 18px;
    border-left: 2px dotted rgba(0, 0, 0, 0.1);
    border-right: 2px dotted rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .pattern-button__img {
    width: 350px;
    height: 350px;
  }
  .pattern-button__title {
    font-size: 35px;
    width: fit-content;
    margin: 0 0 20px;
  }
  .pattern-button__subtitle {
    font-size: 20px;
    margin: 0;
    width: fit-content;
  }
  .pattern-button__text {
    font-size: 16px;
    margin: 15px 0;
  }
  .pattern-button__btn {
    margin: 20px 0;
    width: 450px;
    height: 80px;
    font-size: 36px;
  }
  .pattern-button__btn:hover::before {
    border-width: 0 30px 30px 0;
  }
}
@media screen and (max-width: 400px) {
  .pattern-button {
    flex-direction: column;
    width: 395px;
    margin: 20px auto;
    border-bottom: 2px dashed #000;
  }
  .pattern-button__images {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
  }
  .pattern-button__img {
    width: 280px;
    height: 280px;
  }
  .pattern-button__title {
    font-size: 24px;
    width: 350px;
    margin: 0 0 15px;
  }
  .pattern-button__subtitle {
    font-size: 16px;
    margin: 0;
    width: 340px;
  }
  .pattern-button__text {
    font-size: 14px;
    width: 340px;
    margin: 10px 0;
  }
  .pattern-button__btn {
    margin: 15px 0;
    width: 300px;
    height: 45px;
    font-size: 24px;
  }
  .pattern-button__btn:hover::before {
    border-width: 0 30px 30px 0;
  }
}
